:root{
  --main-color : #004129;
  --secondary-color : #ecd31f;
}
.dropdown2:hover>.dropdown-menu {
  display: block;
  background-color: var(--main-color);
  transition: 0.3s ease;
}

.dropdown2>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown2 .dropdown-item{
    color:#fff;
    text-transform: capitalize;
}
.dropdown2 .dropdown-item:hover{
    background-color: var(--secondary-color);
    color: black;
}
.contact-section {
  display: flex;
  background-color: #004129;
  padding: 25px;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-section h1 {
    font-size: 26px;
}
.alamat{
  border-right: solid 1px whitesmoke;
  width: 406px;
}
.iain-logo-footer {
    /* top: 9px; */
    margin-right: 20px;
    height: 140px;
    width: 115px;
}
.sosial{
  margin-left: 2em;
}
.contact-info {
  font-family: serif;
    border-right: solid 1px whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    /* padding-right: 40px; */
    /* width: 500px; */
}
.kakibar{
  border-bottom: 1px solid #555;
  padding-bottom: 30px;
}
.bar2{
  margin-left: 60px;
  margin-right: 60px;
}
.follow-section {
  border-bottom: 1px solid #555;
  /* margin-left: 40px; */
}
.follow-text{
  font-weight: bold;
  margin-right: 30px;
}
.social-icons img {
  width: 60px;
  height: 60px;
  margin: 30px;
  border-radius: 50%;
  background-color: #ffd700;
  padding: 10px;
}
.social-icons a{
  text-decoration: none;
  margin: 0 10px;
}
 /* berita kampus */
.info-header{
  text-align: center;
  color: var(--main-color);
  margin-top: 100px;
  margin-bottom: 40px;
}
.card-title{
  font-size: 18px;
  font-weight: bold;
}
.card-text{
  font-size: 14px;
}
.card-image{
  height: 180px;
  object-fit: cover;
}

