:root {
    --main-color: #004129;
    --secondary-color: #ecd31f;
}
.hv {
    color: red;
}
.hv:hover {
    color: #ecd31f;
}
.dropdown2:hover > .dropdown-menu {
    display: block;
    background-color: var(--main-color);
    transition: 0.3s ease;
}

.dropdown2 > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown2 .dropdown-item {
    color: #fff;
    text-transform: capitalize;
}
.dropdown2 .dropdown-item:hover {
    background-color: var(--secondary-color);
    color: black;
}
/* footer */
.body {
    font-family: Arial, sans-serif;
    background-color: #0b3d1d;
    color: white;
    text-align: center;
    /* margin: 60px 0; */
    padding: 0;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 5px;
}
.left-section {
    width: 45%;
    text-align: center;
    border-right: 1px solid #f6f6f6;
}
.right-section {
    width: 55%;
    text-align: center;
}
.logo-footer {
    width: 120px;
    float: none;
    margin: 15px 0;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.address {
    font-size: 14px;
    margin-top: 10px;
}
.contact-info {
    font-size: 14px;
    margin-bottom: 10px;
}
.social-icons {
    margin: 10px 0;
}
.social-icons a {
    margin: 0 10px;
    display: inline-block;
}
.social-icons img {
    width: 30px;
}
.motto {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}
/* footer */
.kakibar {
    border-bottom: 1px solid #555;
    padding-bottom: 30px;
}
.bar2 {
    margin-left: 60px;
    margin-right: 60px;
}
.follow-section {
    border-bottom: 1px solid #555;
    /* margin-left: 40px; */
}
.follow-text {
    font-weight: bold;
    margin-right: 30px;
}
.social-icons img {
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 50%;
    background-color: #ffd700;
    padding: 10px;
}
.social-icons a {
    text-decoration: none;
    margin: 0 10px;
}

/* berita kampus */
.info-header {
    text-align: center;
    color: var(--main-color);
    margin-top: 100px;
    margin-bottom: 40px;
    /* color: red; */
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.card-text {
    font-size: 14px;
}
.card-image {
    height: 180px;
    object-fit: cover;
}
.card img {
    height: 300px;
    width: 100%;
}
.no-page {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-green {
    background-color: #004129;
    color: #ecd31f;
}
/* .bg-green span {
    margin-left: 16px;
} */

.iain-logo {
    position: absolute;
    top: 9px;
    margin-left: 140px;
    z-index: 2;
    max-width: 80px;
}
.nav1 {
    margin-left: 110;
}
.nav1 span {
    margin-left: 110px;
}
.nav1 img {
    display: none;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 100%;
    animation: slide 25s infinite;
}
.slider img {
    width: 200vh;
    height: 83vh;
    object-fit: cover;
    flex-shrink: 0;
}

/* gambar pada header */
.img-header {
    height: 486px;
}
.img-header img {
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5); /* Warna gelap dengan transparansi */
}

.carousel-indicators .active {
    background-color: rgba(
        0,
        0,
        0,
        0.9
    ); /* Warna lebih gelap untuk indikator aktif */
}
/* profil visi dan misi */
.container .about {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
/* Bagian konten (sejarah dan gambar) */
.content {
    /* margin: 150px auto; */
    width: 95%;
}

/* Bagian kiri untuk sejarah */
/* .left {
    width: 48%;
} */
.content p {
    font-size: 20px;
    /* margin-top: 26px; */
}
.content img {
    width: 1200px;
    height: 300px;
}

.left h2 {
    color: #2c3e50;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}
.left h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #ecd31f; /* Warna pertama */
}
.left h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 4px;
    background-color: #004129; /* Warna kedua */
}

/* Bagian kanan untuk gambar */
/* .right {
    width: 48%;
} */

/* Bagian visi dan misi */
/* .vandm{
  width: 100%;
} */
.vision-mission {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    background-color: #f6f6f6;
    color: #2b2b2b;
    padding: 30px;
    border-radius: 8px;
}
.misi {
    text-align: left;
}

.vision-mission h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vision-mission p {
    font-size: 20px;
    margin-bottom: 20px;
}
/* kerjasama */
/* Styling untuk background image */

.kerja {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom */
    gap: 20px; /* Jarak antar elemen */
    max-width: 900px; /* Membatasi lebar grid */
    margin: 0 auto;
    z-index: 2;
}
.kerjasama {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 47px;
    color: #004129;
    text-transform: uppercase;
    font-weight: bold;
    margin: 36px 0;
}

.logo {
    width: 100%; /* Ukuran logo mengikuti lebar grid item */
    max-width: 150px; /* Batas maksimum lebar logo */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* dropdown */
/* Mengatur posisi submenu */
.dropdown3 .dropdown-menu {
    display: none;
}
.dropend a {
    color: #f6f6f6;
}

.dropdown3 > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown3 .dropdown-item {
    color: #fff;
    text-transform: capitalize;
}
.dropdown3 .dropdown-item:hover,
.dropend .dropdown-item:hover {
    background-color: var(--secondary-color);
    color: black;
}
.dropdown3:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
    display: block;
    background-color: var(--main-color);
    transition: 0.3s ease;
    margin-top: 0.125em;
    margin-left: 0.125em;
}
.fakultas-image img {
    border-radius: 8px;
    max-height: 480px;
    width: 100%;
}
.header-nav-ico{
    display: none;
}
.header-nav-ico{
    display: none;
}
/* .dropend:hover > .dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
} */
/* ============ dropdown desktop view ============ */
@media (max-width: 1280px) {
    .iain-logo {
        margin-left: 110px;
    }
}
/* ============ desktop view .end// ============ */
/* ============ dropdown desktop view ============ */
@media (max-width: 1024px) {
    .iain-logo {
        display: none;
    }
    .nav1 {
        margin-left: 0px;
    }
    .nav1 img {
        display: block;
        width: auto;
        height: 70;
    }
    .nav1 span {
        margin-left: 14px;
    }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover {
        background-color: var(--secondary-color);
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: 0.5rem;
    }
    /* .collapse img{
        display: none;
    } */
    /* .navbar-collapse ul li{
        display: none;
    } */
    .nav1 {
        margin-left: 0;
    }
    .iain-logo {
        margin-left: 46px;
    }
    .header-nav-ico{
        display: block;
    }
    .mou{
        display: none;
    }
}
/* ============ small devices .end// ============ */
@media (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}
@media (max-width: 769px) {
    /* Untuk layar lebih kecil dari 768px */
    .carousel-inner img {
        max-height: 275;
    }
    .info-header {
        padding-top: 0;
        margin-top: 89;
    }
    .iain-logo {
        display: none;
    }
    .bg-green {
        margin: 0;
    }
    .nav1 {
        margin-left: 0;
    }
    .nav1 img {
        display: block;
        width: auto;
        height: 70;
    }
    .nav1 span {
        font-size: 22;
        margin-left: 20px;
    }
    .content img {
        max-height: 300px;
        width: 100%;
    }
}
